---
import type { TagKey } from "@/lib/tags";
import TechBadge from "./TechBadge.astro";
import { Image } from "astro:assets";

interface Props {
  id: string;
  title: string;
  description: string;
  image: ImageMetadata;
  tags: TagKey[];
  loading?: "lazy" | "eager";
}

const { id, title, description, image, tags, loading = "lazy" } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<article
  class="glass-card p-8 group hover:scale-[1.02] transition-transform duration-300"
>
  <div
    class="h-48 bg-slate-200 rounded-xl mb-6 overflow-hidden relative border border-(--color-glass-border) flex items-center justify-center"
  >
    <Image
      src={image}
      alt={`Captura de pantalla de ${title}`}
      class="w-full h-full object-cover transition-transform duration-500 hover:scale-110"
      loading={loading}
    />
  </div>
  <h3 class="text-2xl font-bold mb-2 text-(--color-text-main)">
    {title}
  </h3>
  <p class="text-(--color-text-muted) mb-4 text-sm">
    {description}
  </p>
  <div class="flex flex-wrap gap-2 mb-6">
    {tags.map((tag) => <TechBadge tagKey={tag} />)}
  </div>
  <a
    href={`${base}/projects/${id}`}
    class="inline-block text-emerald-600 font-bold hover:underline"
    >Ver Proyecto &rarr;
  </a>
</article>
