---
import type { Tag } from '@/types';

interface Props {
  id: string;
  title: string;
  description: string;
  image: string;
  tags: Tag[];
}

const { id, title, description, image, tags } = Astro.props;
const colorClasses = {
  blue: 'bg-blue-100 text-blue-800',
  cyan: 'bg-cyan-100 text-cyan-800',
};
---

<article
  class="glass-card p-8 group hover:scale-[1.02] transition-transform duration-300"
>
  <div
    class="h-48 bg-slate-200 rounded-xl mb-6 overflow-hidden relative border border-(--color-glass-border) flex items-center justify-center"
  >
    <span class="text-4xl">🚀</span>
  </div>
  <h3 class="text-2xl font-bold mb-2 text-(--color-text-main)">
    {title}
  </h3>
  <p class="text-(--color-text-muted) mb-4 text-sm">
    {description}
  </p>
  <div class="flex flex-wrap gap-2 mb-6">
    {
      tags.map((tag) => {
        const theme = colorClasses[tag.color] || 'bg-gray-100 text-gray-800';
        return (
          <span class={`px-3 py-1 text-xs font-bold rounded-full ${theme}`}>
            {tag.name}
          </span>
        );
      })
    }
  </div>
  <a
    href={`/projects/${id}`}
    class="inline-block text-emerald-600 font-bold hover:underline"
    >Ver Código &rarr;
  </a>
</article>
