---
import { ExternalLink, Github } from "@lucide/astro";
import Layout from "./Layout.astro";
import TechBadge from "@/components/TechBadge.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <header class="pt-20 pb-12 bg-white/200">
    <div class="max-w-5xl mx-auto px-6">
      <h1
        class="text-4xl md:text-6xl font-bold text-slate-900 mb-6 leading-tight"
      >
        {frontmatter.title}
      </h1>
      <p class="text-xl text-slate-600 max-w-3xl mb-8">
        {frontmatter.description}
      </p>

      <div class="flex flex-wrap gap-4">
        <a
          href={`${frontmatter.demo}`}
          class="inline-flex items-center px-6 py-3 bg-slate-900 text-white rounded-lg font-semibold hover:bg-slate-800 transition-all gap-2"
        >
          <ExternalLink /> Ver demo en vivo
        </a>
        <a
          href={`${frontmatter.github}`}
          class="text-black inline-flex items-center px-6 py-3 border border-slate-300 rounded-lg font-semibold hover:bg-slate-50 transition-all gap-2"
        >
          <Github /> Ver código
        </a>
      </div>
    </div>
    <section class="border-y border-slate-200 bg-white mt-12">
      <div class="max-w-5xl mx-auto px-6 py-8">
        <div class="flex flex-col md:flex-row md:items-center gap-6">
          <h4
            class="text-sm font-bold text-slate-400 uppercase tracking-widest"
          >
            stack tecnológico
          </h4>
          <div class="flex flex-wrap gap-3">
            {
              frontmatter.tags.map((tag) => (
                <TechBadge name={tag.name} icon={tag.icon} color={tag.color} />
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </header>
  <div class="max-w-5xl mx-auto px-6 py-12 prose prose-lg prose-neutral">
    <slot />
  </div>
</Layout>
